@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:wght@400;500;600;700&family=Cabin+Sketch:wght@400;700&display=swap");
@font-face {
  font-family: "Code Squared";
  src: url("/assets/fonts/Code-Squared.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calling Code";
  src: url("/assets/fonts/CallingCode-Regular.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-head {
  font-family: "Code Squared", sans-serif;
}
.text-body {
  font-family: "Calling Code", sans-serif;
}
